[submodule "games/francis_spaight"]
	path = games/francis_spaight
	url = https://github.com/tseykovets/francis_spaight.git
[submodule "games/99999"]
	path = games/99999
	url = https://github.com/urqw/99999.git
[submodule "games/alice_urqland"]
	path = games/alice_urqland
	url = https://github.com/urqw/alice_urqland.git
[submodule "games/ballad_of_knight"]
	path = games/ballad_of_knight
	url = https://github.com/urqw/ballad_of_knight.git
[submodule "games/blud1"]
	path = games/blud1
	url = https://github.com/urqw/blud1.git
[submodule "games/brass_skull1"]
	path = games/brass_skull1
	url = https://github.com/urqw/brass_skull1.git
[submodule "games/cursed_city"]
	path = games/cursed_city
	url = https://github.com/urqw/cursed_city.git
[submodule "games/fairy_mound"]
	path = games/fairy_mound
	url = https://github.com/urqw/fairy_mound.git
[submodule "games/genie_from_machine"]
	path = games/genie_from_machine
	url = https://github.com/urqw/genie_from_machine.git
[submodule "games/girl_from_14"]
	path = games/girl_from_14
	url = https://github.com/urqw/girl_from_14.git
[submodule "games/golden_key"]
	path = games/golden_key
	url = https://github.com/urqw/golden_key.git
[submodule "games/grunk_and_cheese"]
	path = games/grunk_and_cheese
	url = https://github.com/urqw/grunk_and_cheese.git
[submodule "games/hamster1"]
	path = games/hamster1
	url = https://github.com/urqw/hamster1.git
[submodule "games/hamster2"]
	path = games/hamster2
	url = https://github.com/urqw/hamster2.git
[submodule "games/hellish_saturday"]
	path = games/hellish_saturday
	url = https://github.com/urqw/hellish_saturday.git
[submodule "games/house_that_jack_built"]
	path = games/house_that_jack_built
	url = https://github.com/tseykovets/house_that_jack_built.git
[submodule "games/how_i_became_a_pirate"]
	path = games/how_i_became_a_pirate
	url = https://github.com/urqw/how_i_became_a_pirate.git
[submodule "games/knights"]
	path = games/knights
	url = https://github.com/urqw/knights.git
[submodule "games/mars2000"]
	path = games/mars2000
	url = https://github.com/urqw/mars2000.git
[submodule "games/mary_celeste"]
	path = games/mary_celeste
	url = https://github.com/urqw/mary_celeste.git
[submodule "games/mistress_sary"]
	path = games/mistress_sary
	url = https://github.com/urqw/mistress_sary.git
[submodule "games/plague_doctor"]
	path = games/plague_doctor
	url = https://github.com/urqw/plague_doctor.git
[submodule "games/sarah_faerman1"]
	path = games/sarah_faerman1
	url = https://github.com/urqw/sarah_faerman1.git
[submodule "games/sarah_faerman2"]
	path = games/sarah_faerman2
	url = https://github.com/urqw/sarah_faerman2.git
[submodule "games/shadow_over_rivercross"]
	path = games/shadow_over_rivercross
	url = https://github.com/urqw/shadow_over_rivercross.git
[submodule "games/small_sketch"]
	path = games/small_sketch
	url = https://github.com/urqw/small_sketch.git
[submodule "games/spoiler"]
	path = games/spoiler
	url = https://github.com/urqw/spoiler.git
[submodule "games/support"]
	path = games/support
	url = https://github.com/urqw/support.git
[submodule "games/winnie-the-pooh"]
	path = games/winnie-the-pooh
	url = https://github.com/urqw/winnie-the-pooh.git
[submodule "games/zolushka"]
	path = games/zolushka
	url = https://github.com/urqw/zolushka.git
[submodule "games/hamster3"]
	path = games/hamster3
	url = https://github.com/urqw/hamster3.git
[submodule "games/hamster4"]
	path = games/hamster4
	url = https://github.com/urqw/hamster4.git
[submodule "games/hamster5"]
	path = games/hamster5
	url = https://github.com/urqw/hamster5.git
[submodule "games/hamster6"]
	path = games/hamster6
	url = https://github.com/urqw/hamster6.git
[submodule "games/rice_exchange"]
	path = games/rice_exchange
	url = https://github.com/urqw/rice_exchange.git
[submodule "games/dods"]
	path = games/dods
	url = https://github.com/urqw/dods.git
[submodule "games/rice_exchange_en"]
	path = games/rice_exchange_en
	url = https://github.com/urqw/rice_exchange_en.git
[submodule "games/ancient_dagger1"]
	path = games/ancient_dagger1
	url = https://github.com/urqw/ancient_dagger1.git
[submodule "games/ancient_dagger2"]
	path = games/ancient_dagger2
	url = https://github.com/urqw/ancient_dagger2.git
[submodule "games/in_depths"]
	path = games/in_depths
	url = https://github.com/urqw/in_depths.git
[submodule "games/well"]
	path = games/well
	url = https://github.com/urqw/well.git
[submodule "games/girl_from_14_be"]
	path = games/girl_from_14_be
	url = https://github.com/urqw/girl_from_14_be.git
[submodule "games/cursed_city_be"]
	path = games/cursed_city_be
	url = https://github.com/urqw/cursed_city_be.git
[submodule "games/last_deal"]
	path = games/last_deal
	url = https://github.com/urqw/last_deal.git
[submodule "games/last_deal_be"]
	path = games/last_deal_be
	url = https://github.com/urqw/last_deal_be.git
[submodule "games/virus"]
	path = games/virus
	url = https://github.com/urqw/virus.git
[submodule "games/virus_be"]
	path = games/virus_be
	url = https://github.com/urqw/virus_be.git
[submodule "games/trapped_in_time"]
	path = games/trapped_in_time
	url = https://github.com/tseykovets/trapped_in_time.git
[submodule "games/trapped_in_time_ru"]
	path = games/trapped_in_time_ru
	url = https://github.com/tseykovets/trapped_in_time_ru.git
[submodule "games/contact_1.0"]
	path = games/contact_1.0
	url = https://github.com/urqw/contact_1.0.git
[submodule "games/doll_of_lolita"]
	path = games/doll_of_lolita
	url = https://github.com/urqw/doll_of_lolita.git
[submodule "games/unexpected_passenger"]
	path = games/unexpected_passenger
	url = https://github.com/urqw/unexpected_passenger.git
[submodule "games/keperleys"]
	path = games/keperleys
	url = https://github.com/urqw/keperleys.git
[submodule "games/gad"]
	path = games/gad
	url = https://github.com/tseykovets/gad.git
[submodule "quests/disable_free_saves"]
	path = quests/disable_free_saves
	url = https://github.com/urqw/disable_free_saves.git
[submodule "quests/feedback_for_actions"]
	path = quests/feedback_for_actions
	url = https://github.com/urqw/feedback_for_actions.git
[submodule "quests/shuffle_buttons"]
	path = quests/shuffle_buttons
	url = https://github.com/urqw/shuffle_buttons.git
[submodule "quests/typography"]
	path = quests/typography
	url = https://github.com/urqw/typography.git
[submodule "quests/multiplugin"]
	path = quests/multiplugin
	url = https://github.com/urqw/multiplugin.git
