<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.narmiel.urqw"
        versionCode = "10"
        version     = "1.0.0">

    <name>UrqW</name>

    <description>
        Urq quests interpreter
    </description>

    <author href="https://github.com/narmiel/" email="tinycoyote@gmail.com">
        Narmiel
    </author>

    <icon src="logo.png" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <!-- Android only -->
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="15" />
</widget>