<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.narmiel.urqw"
        versionCode = "10"
        version     = "1.0.0">

    <name>UrqW</name>

    <description>
        Urq quests interpreter
    </description>

    <author href="https://github.com/narmiel/" email="tinycoyote@gmail.com">
        Narmiel
    </author>

</widget>